#koda_img {
    width: 250px;
    margin: 20px;
    /* margin-left: 50px; */
    height: 280px;
    border: solid black;

}

#kk_img {
    width: 250px;
    margin: 20px;
    border: solid black;

}

#koda2_img {
    width: 250px;
    margin: 20px;
    border: solid black;
    height: 280px;
}

#aboutme {
    width: 75%;
    margin: auto;
}

#pictures {
    width: 80%;
    margin: auto;
}

#main {
    margin-top: 20px;
}